.card {
    display: inline-block;
    width: 20%;
    margin: 10px;
    text-align: center;
}

.card-img-top {
    height: 200px;
}

.buttons {
    margin: 20px;
    padding: 20px;
    white-space: normal;

}

body {
    background-color: Seashell; 
}